#{extends 'main.html' /}
#{set title:'Home' /}

<h1>Cadastro de Animais</h1>
<form action="@{Animais.salvar}" method="post">
	<input type="hidden" name="a.id" value="${animal?.id}">
	
	<label class="form-label">Nome:</label>
	<input type="text" name="a.nome" class="form-control" value="${animalEdit?.nome}" />
	<br />
	
	<label class="form-label">Peso:</label>
	<input type="text" name="a.peso" class="form-control" value="${animalEdit?.peso}" />
	<br />
	
	<label class="form-label">Tipo de animal:</label>
	<select name="a.tipoAnimal.id" class="form-select">
		#{list items:tipos, as:'t'}
		<!--if se  t ? 'editar':'Cadastrar-->
		
			<option value="${t.id}" ${t.id == animalEdit?.tipoAnimal?.id ? 'selected' : ''}>${t.descricao}</option>
			
			
		#{/list}
	</select>
	
	<br />
	
	<label class="form-label">Data:</label>
	<input type="date" name="a.dataNascimento" class="form-control" value="${animalEdit?.dataNascimento}" />
	<br />
	<!--se já existir no bando de dados -> atualizar informações-->
	<!--caso não existir -> Cadastrar novo animal-->
	<input type="submit" class="btn btn-primary" value="${animalEdit ? 'Atualizar informações':'Cadastrar Animal'>
</form>
